# templates/recovery.conf.j2

standby_mode = 'on'
primary_conninfo = 'host={{ master_host_ip }} port={{ postgresql_port }} user={{ replication_user }} password={{ replication_password }}'
trigger_file = '/tmp/pgsql.trigger'
